* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*** GLOBAL ***/
.App {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

[role="button"],
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  --background-color: #007cb9;
}

h1,
h2,
h3,
h4 {
  font-family: "DM Sans", sans-serif;
}

/*** NAV ***/
.Nav {
  height: 3em;
}

[role="link"],
a {
  color: #005689;
}

.Nav a:hover {
  text-decoration: underline;
}

.Logo {
  margin-top: 1.5em;
  width: 5em;
  height: auto;
}

/*** ABOUT ***/

.About dialog {
  background-image: url("https://github.com/m-soro/Project_2/blob/main/src/assets/images/04.jpeg?raw=true");
  background-position: center center;
  background-size: cover;
}

.PicContainer {
  margin-top: 1em;
  display: flex;
  justify-content: right;
}

.About h3,
.About a {
  color: white;
}

.About p {
  font-size: smaller;
  font-weight: 200;
}

dialog article .close {
  display: block;
  width: 3rem;
  height: 3rem;
  background-image: url("https://cdn3.iconfinder.com/data/icons/tiny-weather-1/512/snow-256.png");
  background-size: 2.5em 2.5em;
  opacity: 60%;
  transition: opacity var(--transition);
  margin-bottom: 0.9rem;
  padding-bottom: 0;
}

.About article {
  background-color: transparent;
  padding: 3rem 2.5rem;
}

.About footer,
.About header {
  background-color: transparent;
}

.AboutContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 3rem;
  flex-wrap: wrap;
}

.AboutText {
  flex: 2;
}

.AboutContainer img {
  flex: 1;
  width: 8em;
  height: auto;
  border-radius: 30px;
  filter: grayscale(20%);
  margin: 0;
  padding: 0;
}

.AboutContainer img:hover {
  filter: grayscale(0);
}

/*** ACCOUNT ***/

.Account dialog {
  background-image: url("https://github.com/m-soro/Project_2/blob/main/src/assets/images/03.jpeg?raw=true");
  background-position: center center;
  background-size: cover;
}

.Account form {
  padding: 0.5em 4em;
}

.Account form #email {
  width: 12rem;
}

.Account form button {
  width: 6em;
}

.Account header {
  margin-bottom: 1em;
}

.Account header h3 {
  margin-bottom: 0;
}

.Account article,
.Account header {
  background-color: transparent;
}

/*** FAVORITES ***/

.Favorites dialog {
  background-image: url("https://github.com/m-soro/Project_2/blob/main/src/assets/images/06.jpeg?raw=true");
  background-position: center center;
  background-size: cover;
}

.Favorites h4 {
  margin-top: 0;
  margin-bottom: 0.3rem;
}

.Favorites header {
  padding: 0.5rem 0;
}

.Favorites footer {
  padding: 1rem 0.3rem;
  margin-top: 1rem;
}

.Favorites article,
.Favorites footer,
.Favorites header {
  background-color: transparent;
}

.Favorites header {
  border: none;
}
.Favorites article {
  padding: 2.8rem 2rem;
}

.Favorites footer {
  display: flex;
  justify-content: right;
}

/*** BANNER ***/

.Banner {
  margin-bottom: 3em;
}

.Banner p,
.Banner h1,
.Banner span,
.Form h1 {
  color: white;
}

.Banner span,
.ResortDisplay span {
  font-size: 2.5em;
}

.Banner h1 {
  margin-bottom: 0.2em;
}

.Banner .Content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 5em);
}

span.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

/*** FORM ***/
.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

input.TextInput {
  width: 15rem;
}

input.Submit {
  width: 10rem;
}

/*** RESORT DISPLAY ***/
.ResortDisplay {
  margin-top: 3em;
}

.ResortDisplayResults {
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.ResortDisplay h2,
h3 {
  color: #363434;
}
.ResortHeader {
  margin-top: 4em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent !important;
}

.ResortHeader h3,
h4 {
  padding: 0.2em 0;
  margin: 0;
}

.StatsMessage {
  display: flex;
  justify-content: center;
}

.StatsMessage p {
  margin: 0;
  padding: 0;
  font-size: smaller;
  color: var(--h1-color);
}

.SnowTotals {
  display: flex;
  justify-content: space-evenly;
  gap: 0.5em;
  flex-wrap: wrap;
}

.SnowTotals ul {
  display: flex;
  font-size: smaller;
  padding: 0;
  margin: 0;
}

.SnowTotals ul li {
  list-style-type: none;
}

.ForecastContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 0.8fr));
}

.ForecastContainer details summary {
  font-size: smaller;
  transition: color var(--transition);
}

.ResortDisplayResults .Results {
  display: flex;
  flex-direction: row;
  gap: 1.2em;
  padding: 0 4em;
  flex-wrap: wrap;
  justify-content: center;
}

.ChairStatus {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.ForecastBox {
  flex: 10;
}

.ForecastBox h3 {
  padding-left: 0.1rem;
}

details[open],
details[open] > summary:not([role]):not(:focus) {
  color: #ff894c;
}

.ChairStatus table td {
  font-size: small;
  padding: 3px 5px;
  margin: 0;
}

.LiftStatistics ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  gap: 0.5em;
  flex-wrap: wrap;
}

article.LiftStatistics,
article.SnowTotals {
  padding: 0.5em 0;
  margin: 0.5em 0;
}

.LiftStatistics ul li {
  font-size: smaller;
  list-style-type: none;
}

.ResortDisplayResults details {
  border-bottom: none;
}

.EachDay {
  justify-content: space-between;
}

summary.EachDay {
  font-size: large;
  padding-bottom: 1.5em;
}

#ResortDisplayResults
  > div.Results
  > hgroup.ForecastBox
  > section
  > article
  > details
  > summary:hover {
  text-decoration: underline;
  color: #ff894c;
}

#ResortDisplayResults
  > div.Results
  > hgroup.ForecastBox
  > section
  > article
  > details[open]
  td,
table td {
  color: var(--h1-color);
}

.ForecastContainer article {
  margin: 0;
  flex: 1 1 0;
}

.ForecastContainer table td {
  font-size: small;
  padding: 3px 5px;
  margin: 0;
}

details summary::after {
  background-image: url("https://cdn4.iconfinder.com/data/icons/christmas-2434/128/Artboard_2-256.png");
  background-size: 1.3rem;
  margin: 0;
  transform: rotate(180deg);
}

.ResortDisplay article {
  background-color: #fcf9f4a5;
  transition: background-color 0.5s;
}

.ResortDisplay .Results article:hover,
.LiftStatistics:hover,
.SnowTotals:hover {
  background-color: #fcf9f4;
}

.ResortDisplay .Results article:active,
.LiftStatistics:active,
.SnowTotals:active {
  opacity: 95%;
}

.ResortDisplay span {
  color: #455d7a;
}

.BackToTopDiv {
  width: 100vw;
  height: 3em;
  display: flex;
  justify-content: center;
}

.Notice {
  background-color: #fcf9f4;
  height: 6rem;
  padding-bottom: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Notice p {
  margin: 0;
  padding: 0;
  font-size: small;
  font-weight: 300;
  color: var(--h1-color);
}

/* RESPONSIVE */

@media only screen and (max-width: 749px) {
  .react-parallax > img {
    object-fit: cover;
  }

  .AboutContainer {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 10px;
  }
}
